.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-bottom: 20px;

  outline: 1px solid red;
}

.Btn:nth-of-type(1) {
  margin-right: 10px;
}
